modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41998662
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
